
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Fredoka+One&family=Lobster+Two&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

.header{
    background-image: url("../IMG/flood-6.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.innder-header{
    text-align: center;
    background: linear-gradient(#0000001a, #0000009e);
    height: 100vh;
}

.innder-header h1{
    font-family: 'Merriweather', serif;
    color: white;
    padding-top: 175px;
    font-size: 60px;
}

.innder-header p{
    font-family: 'Archivo', sans-serif;
    color: #eafffd;
    padding: 10px 250px;
    font-size: 18px;
}

.innder-header button{
    padding: 10px 20px;
    background: tomato;
    border: none;
    border-radius: 3px;
}
.innder-header button a{
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: arial black;
    text-decoration: none;
}

.donate{
    text-align: center;
    margin-top: 100px;
}
.donate h2{
    font-family: 'Merriweather', serif;
    font-size: 30px;
}
.donate p{
    padding: 5px 150px;
}
.donate ul{
    /* display: flex; */
    /* background: red; */
}
.donate ul li{
    list-style: none;
    display: inline-block;
    background: #c5c5c5;
    padding: 20px;
    font-size: 25px;
    margin: 10px;
}

#selected-donate{    
    background: #00c1324d;
    border: 2px solid #038d26;

}

.custom-donate{
    width: 50%;
    border: none;
    border-bottom: 2px solid #777;
    text-align: center;
    padding: 10px;
    outline: none;
}
.donate button{
    padding: 10px 20px;
    background: black;
    border: none;
    border-radius: 3px;
    margin: 50px;
}
.donate button a{
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 20px;
    font-family: arial black;
    text-decoration: none;
}

.donate-plan{
    text-align: center;
    margin-top: 100px;
}
.donate-plan h2{
    font-family: 'Merriweather', serif;
    font-size: 30px;
}
.donate-plan p {
    margin-bottom: 50px;
}
.donate-plan ul{}
.donate-plan ul li{
    list-style: none;
    display: inline-block;
    width: 28%;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    margin: 10px;
}
.donate-plan ul li img{
    width: 100px;
}
.donate-plan ul li h4{
    font-size: 30px;
}
.donate-plan ul li p{}

#donate-plan-one{
    background-color: #b3ffb2d1;
}
#donate-plan-sec{
    background-color: #ccb2ffd1;
}
#donate-plan-third{
    background-color: #ffb2d9d1;
}

.stories{
    display: flex;
    padding: 0% 4%;
    margin-top: 100px;
}
.content{
    width: 50%;
    padding: 10px;
}
.content h3{
    font-size: 40px;
    font-family: 'Merriweather', serif;
}
.content button{
    
    padding: 10px 20px;
    background: #009319;
    border: none;
    border-radius: 3px;
    margin: 50px;
}
.content button a{
    color: rgb(237 255 221);
    font-weight: bold;
    font-size: 20px;
    font-family: arial black;
    text-decoration: none;
}

.image{
    width: 50%;
    padding: 0px 100px;
}
.image img{
    width: 100%;
}

.get-my-update{
    text-align: center;
    margin-top: 100px;
}
.get-my-update h2{ 
    font-size: 40px;
    font-family: 'Merriweather', serif;
}
.get-my-update p{ 
    padding: 10px 300px;
}
.subscription{
    width: 70%;
    margin: auto;
    background: #b7eaedad;
    padding: 76px 10px;
}
.subscription input{
    font-size: 20px;
    border: none;
    padding: 10px;
    background: #c7c7c7;
    border-radius: 4px 0px 0px 4px;
    outline: none;
}
.subscription button{
    font-size: 20px;
    border: none;
    background: red;
    color: white;
    padding: 10px 22px;
    margin-left: -5px;
}

footer{
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 30px 0px;
    margin-top: 100px;
}

footer h1{
    font-size: 50px;
    color: tomato;
    font-family: 'Lobster Two', cursive;
}

footer p{
    font-size: 16px ;
    color: white;
}