
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Merriweather:wght@300&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

.header{
    background-image: url("../IMG/flood-6.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.innder-header{
    text-align: center;
    background: linear-gradient(#0000001a, #0000009e);
    height: 100vh;
}

.innder-header h1{
    font-family: 'Merriweather', serif;
    color: white;
    padding-top: 175px;
    font-size: 60px;
}

.innder-header p{
    font-family: 'Archivo', sans-serif;
    color: #eafffd;
    padding: 10px 250px;
    font-size: 18px;
}

.innder-header button{
    padding: 10px 20px;
    background: tomato;
    border: none;
    border-radius: 3px;
}
.innder-header button a{
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: arial black;
    text-decoration: none;
}

.donate{
    text-align: center;
    margin-top: 100px;
}
.donate h2{
    font-family: 'Merriweather', serif;
    font-size: 30px;
}
.donate p{
    padding: 5px 150px;
}
.donate ul{
    /* display: flex; */
    /* background: red; */
}
.donate ul li{
    list-style: none;
    display: inline-block;
    background: #c5c5c5;
    padding: 20px;
    font-size: 25px;
    margin: 10px;
}

#selected-donate{    
    background: #00c1324d;
    border: 2px solid #038d26;

}

.custom-donate{
    width: 50%;
    border: none;
    border-bottom: 2px solid #777;
    text-align: center;
    padding: 10px;
    outline: none;
}
.donate button{
    padding: 10px 20px;
    background: black;
    border: none;
    border-radius: 3px;
    margin: 50px;
}
.donate button a{
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 20px;
    font-family: arial black;
    text-decoration: none;
}